html {
    box-sizing: border-box;
  }
  
  .visually-hidden {
    display: none;
  }
  
  body {
    // min-width: 320px;
    // max-width: 1300px;
    // margin: 0 auto;
    // font-family: @font;
    background-color: white;
    // overflow-x: hidden;
    margin: 0;
  }

  .main-container {
    // padding: 0 30px;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .svg-inline {
    display: none;
  }


  .btn {
    width: 75px;
    height: 35px;
    border: 1px solid black;
    border-radius: 3px;
    // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    
    &:hover,
    &:focus {
      background-color: grey;
    }
  }